[submodule "submodules/ohmyzsh"]
	path = submodules/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "submodules/zsh-completions"]
	path = submodules/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "submodules/fzf-tab"]
	path = submodules/fzf-tab
	url = https://github.com/oldfatcrab/fzf-tab.git
[submodule "submodules/NvChad"]
	path = submodules/NvChad
	url = https://github.com/NvChad/starter.git
